[Unit]
After=syslog.target
Description=mount ntfs partitions with options that fail to convey via /etc/fstab

[Service]
#EnvironmentFile=/etc/sysconfig/mount_ntfs_partitions
#ExecStartPre=/usr/sbin/sshd-gen-keys-start
ExecStart=/sbin/mount_ntfs_partitions.sh start
ExecStop=/sbin/mount_ntfs_partitions.sh stop
#ExecRestart=/sbin/mount_ntfs_partitions.sh restart
#ExecReload=/sbin/mount_ntfs_partitions.sh reload
#Group=erik
#KillMode=process
#Restart=always
RemainAfterExit=true
StandardOutput=journal
Type=oneshot
#User=erik

[Install]
#WantedBy=default.target
WantedBy=multi-user.target

